
@{
    ViewBag.Title = "Accessories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="ftco-section goto-here">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">

                <h2 class="mb-2">ACCESSOIRES</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=1})' class="img" style="background-image: url(/Content/HRP/Aksesuarlar/agm-001/ayna-001.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">agm-001</a></h3>

                        <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=1})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=2})' class="img" style="background-image: url(/Content/HRP/Aksesuarlar/agm-002/ayna-002.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">agm-002</a></h3>

                        <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=2})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=3})' class="img" style="background-image: url(/Content/HRP/Aksesuarlar/agm-003/ayna-003.jpg);"></a>
                    <div class="text">


                        <h3><a href="#"> agm-003</a></h3>

                        <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=3})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=4})' class="img" style="background-image: url(/Content/HRP/Aksesuarlar/agm-004/ayna-004.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">agm-004</a></h3>

                        <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=4})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=5})' class="img" style="        background-image: url(/Content/HRP/Aksesuarlar/agm-005/ayna-005.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">agm-005</a></h3>

                        <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=5})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=6})' class="img" style="background-image: url(/Content/HRP/Aksesuarlar/agm-006/ayna-006.jpg);"></a>
                    <div class="text">

                        <h3><a href="#"> agm-006</a></h3>

                        <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=6})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=7})' class="img" style="background-image: url(/Content/HRP/Aksesuarlar/dt-004/dus-oturagi-004-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#"> dt-004</a></h3>

                        <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=7})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=8})' class="img" style="background-image: url(/Content/HRP/Aksesuarlar/etb-001/etb-engelli-tutunma-bari-001-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#"> etb-001</a></h3>

                        <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=8})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=9})' class="img" style="background-image: url(/Content/HRP/Aksesuarlar/etb-002/etb-engelli-tutunma-bari-002-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">etb-002</a></h3>

                        <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=9})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=10})' class="img" style="background-image: url(/Content/HRP/Aksesuarlar/etb-002-2/etb-engelli-tutunma-bari-002-2-r-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">etb-002-2</a></h3>

                        <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=10})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=11})' class="img" style="background-image: url(/Content/HRP/Aksesuarlar/etb-003/etb-engelli-tutunma-bari-003-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">etb-003</a></h3>

                        <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=11})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=12})' class="img" style="background-image: url(/Content/HRP/Aksesuarlar/twl-001/havluluk1-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">twl-001</a></h3>

                        <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=12})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=13})' class="img" style="background-image: url(/Content/HRP/Aksesuarlar/twl-002/havlulu-002-1-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">twl-02</a></h3>

                        <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=13})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=14})' class="img" style="background-image: url(/Content/HRP/Aksesuarlar/twl-002-2/havluluk-002-2-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">twl-02-2</a></h3>

                        <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=14})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=15})' class="img" style="        background-image: url(/Content/HRP/Aksesuarlar/twl-003/havluluk3-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">twl-003</a></h3>

                        <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=15})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=16})' class="img" style="background-image: url(/Content/HRP/Aksesuarlar/twl-004/havluluk-004-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">twl-004</a></h3>

                        <a href='@Url.Action("AccessoriesDetails","Home",new  {@id=16})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</section>

