
@{
    ViewBag.Title = "CityProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="ftco-section goto-here">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">

                <h2 class="mb-2">
                    MEUBLES URBAINS
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("CityDetails","Home",new  {@id=1})' class="img" style="background-image: url(/Content/HRP/KentMobilyalari/km-ck-001/km-ck-001-1-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">km-ck-001</a></h3>

                        <a href='@Url.Action("CityDetails","Home",new  {@id=1})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("CityDetails","Home",new  {@id=2})' class="img" style="background-image: url(/Content/HRP/KentMobilyalari/km-ck-001-3/km-ck-001-3-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">km-ck-001-3</a></h3>

                        <a href='@Url.Action("CityDetails","Home",new  {@id=2})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("CityDetails","Home",new  {@id=3})' class="img" style="background-image: url(/Content/HRP/KentMobilyalari/km-ck-002/km-ck-002-1-600x600.jpg);"></a>
                    <div class="text">


                        <h3><a href="#"> km-ck-002</a></h3>

                        <a href='@Url.Action("CityDetails","Home",new  {@id=3})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("CityDetails","Home",new  {@id=4})' class="img" style="background-image: url(/Content/HRP/KentMobilyalari/km-ck-003/km-ck-003-1-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">km-ck-003</a></h3>

                        <a href='@Url.Action("CityDetails","Home",new  {@id=4})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("CityDetails","Home",new  {@id=5})' class="img" style="        background-image: url(/Content/HRP/KentMobilyalari/km-d-001/km-d-001-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">km-d-001</a></h3>

                        <a href='@Url.Action("CityDetails","Home",new  {@id=5})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("CityDetails","Home",new  {@id=6})' class="img" style="background-image: url(/Content/HRP/KentMobilyalari/km-d-001-2/km-d-001-2-1-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#"> km-d-001-2</a></h3>

                        <a href='@Url.Action("CityDetails","Home",new  {@id=6})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("CityDetails","Home",new  {@id=7})' class="img" style="background-image: url(/Content/HRP/KentMobilyalari/km-d-001-3/km-d-001-3-1-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#"> km-d-001-3</a></h3>

                        <a href='@Url.Action("CityDetails","Home",new  {@id=7})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("CityDetails","Home",new  {@id=8})' class="img" style="background-image: url(/Content/HRP/KentMobilyalari/km-d-002/km-d-001-1-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#"> km-d-002</a></h3>

                        <a href='@Url.Action("CityDetails","Home",new  {@id=8})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("CityDetails","Home",new  {@id=9})' class="img" style="background-image: url(/Content/HRP/KentMobilyalari/km-d-002-02/km-d-002-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">km-d-002-2</a></h3>

                        <a href='@Url.Action("CityDetails","Home",new  {@id=9})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("CityDetails","Home",new  {@id=10})' class="img" style="        background-image: url(/Content/HRP/KentMobilyalari/km-d-002-03/km-d-004-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">km-d-002-3</a></h3>

                        <a href='@Url.Action("CityDetails","Home",new  {@id=10})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("CityDetails","Home",new  {@id=11})' class="img" style="background-image: url(/Content/HRP/KentMobilyalari/km-d-003/km-d-001-4-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">km-d-003</a></h3>

                        <a href='@Url.Action("CityDetails","Home",new  {@id=11})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("CityDetails","Home",new  {@id=12})' class="img" style="background-image: url(/Content/HRP/KentMobilyalari/km-ob-001/km-ob-001-1-1-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">km-ob-001</a></h3>

                        <a href='@Url.Action("CityDetails","Home",new  {@id=12})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("CityDetails","Home",new  {@id=13})' class="img" style="background-image: url(/Content/HRP/KentMobilyalari/km-ob-002/km-ob-002-5-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">km-ob-002</a></h3>

                        <a href='@Url.Action("CityDetails","Home",new  {@id=13})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            



        </div>
    </div>
</section>



