
@{
    ViewBag.Title = "GardenProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="ftco-section goto-here">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 heading-section text-center ftco-animate mb-5">

                    <h2 class="mb-2">MEUBLES DE JARDIN</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=1})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ms-001/bm-ms-001-satine.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ms-001</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=1})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=2})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ms-002/bm-ms-002.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ms-002</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=2})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=3})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ms-003/bm-ms-003-2-1-600x600.jpg);"></a>
                        <div class="text">


                            <h3><a href="#"> bm-ms-003</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=3})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=4})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ms-004/bm-ms-004.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ms-004</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=4})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=5})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ms-005/bm-ms-005.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ms-005</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=5})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=6})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ms-006/bm-ms-006-üstü-satine-ayaklar-parlak.jpg);"></a>
                        <div class="text">

                            <h3><a href="#"> bm-ms-006</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=6})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=7})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ob-01/bm-ob-01.jpg);"></a>
                        <div class="text">

                            <h3><a href="#"> bm-ob-01</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=7})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=8})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ob-02/bm-ob-02.jpg);"></a>
                        <div class="text">

                            <h3><a href="#"> bm-ob-02</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=8})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=9})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ob-03/bm-ob-03.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ob-03</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=9})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=10})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ob-04/bm-ob-04.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ob-04</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=10})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=11})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ob-05/bm-ob-05.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ob-05</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=11})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=12})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ob-06/bm-ob-06.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ob-06</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=12})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=13})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ob-07/bm-ob-07.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ob-07</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=13})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=14})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ob-08/bm-ob-08-600x600.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ob-08</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=14})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=15})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ob-08-9-10/bm-ob-08-9-10.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ob-08-9-10</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=15})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=16})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ob-09/bm-ob-09-2-600x600.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ob-09</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=16})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=17})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ob-10/bm-ob-10-600x600.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ob-10</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=17})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=18})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ob-11/bm-ob-11.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ob-11</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=18})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=19})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ob-12/bm-ob-12.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ob-12</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=19})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=20})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ob-13/bm-ob-13.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ob-13</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=20})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=21})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ob-14/bm-ob-14-1-satine.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ob-14</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=21})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=22})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-ob-15/bm-ob-15.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-ob-15</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=22})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=23})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-pergole-001/bm-pergole-001-600x600.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-pergole-001</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=23})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="property-wrap ftco-animate">
                        <a href='@Url.Action("GardenDetails","Home",new  {@id=24})' class="img" style="background-image: url(/Content/HRP/bahcemobilyaları/bm-salincak-002/bm-salincak-002-1-600x600.jpg);"></a>
                        <div class="text">

                            <h3><a href="#">bm-salıncak-002</a></h3>

                            <a href='@Url.Action("GardenDetails","Home",new  {@id=24})' class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
