
@{
    ViewBag.Title = "IndoorProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-section goto-here">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">

                <h2 class="mb-2">MEUBLES INTÉRIEURS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=1})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-k-001/imm-k-001.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-k-001</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=1})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=2})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-masa-006/imm-masa-006.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-masa-006</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=2})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=3})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-masa-001/imm-masa-001.jpg);"></a>
                    <div class="text">


                        <h3><a href="#"> imm-masa-001</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=3})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=4})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-ob-01/imm-ob-01.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-ob-01</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=4})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=5})' class="img" style="        background-image: url(/Content/HRP/IcmekanMobilya/imm-ob-02/imm-ob-02.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-ob-02</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=5})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=6})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-ob-03-04-05/imm-ob-03-4-5.jpg);"></a>
                    <div class="text">

                        <h3><a href="#"> imm-ob-03-04-05</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=6})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=7})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-k-001-2/imm-k-001-2-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#"> imm-k-001-2</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=7})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=8})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-k-001-2-k/imm-k-001-2-k-2-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#"> imm-k-001-2-k</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=8})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=9})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-k-002/imm-k-002-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-k-002</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=9})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=10})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-k-002-2/imm-k-002-2-5-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-k-002-2</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=10})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=11})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-k-002-2-k/imm-k-002-2-k-4-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-k-002-2-k</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=11})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=12})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-k-003-2-k/imm-k-003-2-k-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-k-003-2-k</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=12})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=13})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-k-004-2/imm-k-004-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-k-004-2</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=13})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=14})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-k-005/imm-k-005-2-1-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-k-005</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=14})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=15})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-masa-005/imm-masa-005.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-masa-005</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=15})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=16})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-masa-002/imm-masa-002.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-masa-002</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=16})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=17})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-k-001-k/imm-k-001-k-1-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-k-001-k</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=17})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=18})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-k-002-k/imm-k-002-2-k-5-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-k-002-k</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=18})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=19})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-k-003/imm-k-003-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-k-003</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=19})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=20})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-ob-06/imm-ob-06-3-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-ob-06</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=20})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=21})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-k-004/imm-k-004-3-600x600.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-k-004</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=21})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=22})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-masa-003/imm-masa-003-satine.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-masa-003</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=22})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=23})' class="img" style="background-image: url(/Content/HRP/IcmekanMobilya/imm-masa-004/imm-masa-004.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">imm-masa-004</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=23})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=24})' class="img" style="        background-image: url(/Content/HRP/IcmekanMobilya/imm-ob-07/imm-ob-07-güncel-600x600.jpg);
"></a>
                    <div class="text">

                        <h3><a href="#">imm-ob-07</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=24})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=25})' class="img" style="        background-image: url(/Content/HRP/IcmekanMobilya/imm-ob-08/imm-ob-08-1-600x600.jpg);
"></a>
                    <div class="text">

                        <h3><a href="#">imm-ob-08</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=25})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=26})' class="img" style="        background-image: url(/Content/HRP/IcmekanMobilya/imm-ob-09/imm-ob-09-1-600x600.jpg);
"></a>
                    <div class="text">

                        <h3><a href="#">imm-ob-09</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=26})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=27})' class="img" style="        background-image: url(/Content/HRP/IcmekanMobilya/imm-ob-03/imm-ob-03-1-600x600.jpg);
"></a>
                    <div class="text">

                        <h3><a href="#">imm-ob-03</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=27})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=28})' class="img" style="        background-image: url(/Content/HRP/IcmekanMobilya/imm-ob-04/imm-ob-04-1-600x600.jpg);
"></a>
                    <div class="text">

                        <h3><a href="#">imm-ob-04</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=28})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=29})' class="img" style="        background-image: url(/Content/HRP/IcmekanMobilya/imm-ob-05/imm-ob-05-1-600x600.jpg);
"></a>
                    <div class="text">

                        <h3><a href="#">imm-ob-05</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=29})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=30})' class="img" style="        background-image: url(/Content/HRP/IcmekanMobilya/imm-k-003-k/imm-k-003-k-1-600x600.jpg);
"></a>
                    <div class="text">

                        <h3><a href="#">imm-k-003-k</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=30})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("IndoorDetails","Home",new  {@id=31})' class="img" style="        background-image: url(/Content/HRP/IcmekanMobilya/imm-k-003-2/imm-k-003-2-4-600x600.jpg);
"></a>
                    <div class="text">

                        <h3><a href="#">imm-k-003-2</a></h3>

                        <a href='@Url.Action("IndoorDetails","Home",new  {@id=31})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


