
@{
    ViewBag.Title = "LightingProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="ftco-section goto-here">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">

                <h2 class="mb-2">
                    PRODUITS D’ÉCLAIRAGE
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("LightingDetails","Home",new  {@id=1})' class="img" style="background-image: url(/Content/HRP/Aydınlatma/au-001/au-001satine.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">au-001</a></h3>

                        <a href='@Url.Action("LightingDetails","Home",new  {@id=1})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("LightingDetails","Home",new  {@id=2})' class="img" style="background-image: url(/Content/HRP/Aydınlatma/au-002/au-002satine.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">au-002</a></h3>

                        <a href='@Url.Action("LightingDetails","Home",new  {@id=2})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("LightingDetails","Home",new  {@id=3})' class="img" style="background-image: url(/Content/HRP/Aydınlatma/au-003/au-003-1satine.jpg);"></a>
                    <div class="text">


                        <h3><a href="#"> au-003</a></h3>

                        <a href='@Url.Action("LightingDetails","Home",new  {@id=3})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("LightingDetails","Home",new  {@id=4})' class="img" style="background-image: url(/Content/HRP/Aydınlatma/au-d-001/au-d-001-satine.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">au-d-001</a></h3>

                        <a href='@Url.Action("LightingDetails","Home",new  {@id=4})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("LightingDetails","Home",new  {@id=5})' class="img" style="        background-image: url(/Content/HRP/Aydınlatma/au-d-002/au-d-002-satine.jpg);"></a>
                    <div class="text">

                        <h3><a href="#">au-d-002</a></h3>

                        <a href='@Url.Action("LightingDetails","Home",new  {@id=5})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="property-wrap ftco-animate">
                    <a href='@Url.Action("LightingDetails","Home",new  {@id=6})' class="img" style="background-image: url(/Content/HRP/Aydınlatma/au-d-003/au-d-003satine.jpg);"></a>
                    <div class="text">

                        <h3><a href="#"> au-d-003</a></h3>

                        <a href='@Url.Action("LightingDetails","Home",new  {@id=6})' class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>

           



        </div>
    </div>
</section>



